@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto&display=swap');
*{
    font-family: Roboto;
    box-sizing: border-box;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    background: rgb(20,165,167);
    background: linear-gradient(97deg, #14a5a7 0%, #bfffc7 100%);
}

h1, h2, h3, h4, h5, h6, p, ul, li{
    margin: 0;
    padding: 0;
}

.form{
    height: 500px;
    width: 400px;
    background-color: rgba(240,240,240,0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    color: white;
    position: relative;
}

form{
    position: absolute;
    top: -35%;
    left: 18%;
}

label{
    display: flex;
    position: absolute;
    top: -5%;
}

input{
    border: none;
    background-color: transparent;
    color: white;
    border-bottom: solid white 1px;
    width: 250px;
}

.form > h1{
    position: absolute;
    top: 20px;
}

input:focus{
    outline: none;
    color: white;
    border-bottom: solid 3px rgba(20,165,167,1);
}

.emailContainer{
    position: absolute;
    top: 300px;
}

.passContainer{
    position: absolute;
    top: 400px;
}

.Login{
    position: absolute;
    top: 500px;
    width: 250px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: rgba(20,165,167,1);
    color: white;
}

.register{
    position: absolute;
    top: 400px;
}

a{
    text-decoration: none;
    color: rgba(20,165,167,1);
}

label span{
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

input:focus + label span,
input:valid + label span{
    transform: translateY(-30px);
    color: rgba(20,165,167,1);
}